<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new author</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .author, .author td {
            border: 1px solid lightgray;
            padding: 5px;
        }
        .green { color: green;}
    </style>
</head>
<body>
<h1 class="green">New author:</h1>
<form class="author" action="#" th:action="@{/author-create}" th:object="${author}" method="post">


    <div class="row">
        <label for="holder-input">Name:</label>
        <input id="holder-input" name="name" type="text" th:field="*{authorName}" value="Tolstoy"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>