<!DOCTYPE html>
<html>
<head>
    <title>List all authors</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "http://localhost:8080/list"
            }).then(function(author) {
                $('.authorId').append(author.authorId);
                $('.authorName').append(author.authorName);
            });
        });
    </script>
</head>
<body>
<div>
    <p class="authorId"> Author id: </p>
    <p class="authorName"> Author name: </p>
</div>
</body>
</html>